<div class="w3-sidebar w3-light-grey w3-bar-block " style="width:13%">
  <h3 class="w3-center"> RONGRAM </h3>
  <div class="w3-card w3-round w3-white">
      <div class="w3-container"><br>
          <p class="w3-center"><img
                  src="https://www.wrappixel.com/demos/angular-admin-templates/xtreme-angular/main/assets/images/users/8.jpg"
                  class="w3-circle" style="height:80px;width:80px" alt="Avatar"></p>
          <h4 class="w3-center"> Bunyarit Thongsuk </h4>
      </div>

      <div class="w3-white">
          <hr>
          <h5><button href="home" class="w3-button w3-block  w3-left-align"><i
                      class="fa fa-tachometer fa-fw w3-margin-right "></i> หน้าหลัก </button></h5>
          <h5><button class="w3-button w3-block  w3-left-align"><i
                      class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> การจัดการห้องพัก </button></h5>
          <h5><button class="w3-button w3-block  w3-left-align"><i
                      class="fa fa-bed fa-fw w3-margin-right"></i> ข้อมูลห้องพัก </button></h5>
          <h5><button class="w3-button w3-block w3-left-align"><i
                      class="fa fa-id-card fa-fw w3-margin-right"></i> การจัดการพนักงาน </button></h5>
          <h5><button class="w3-button w3-block  w3-left-align"><i
                      class="fa fa-users fa-fw w3-margin-right"></i> ข้อมูลลุกค้า </button></h5>
          <h5><button class="w3-button w3-block  w3-left-align"><i
                      class="fa fa-usd fa-fw w3-margin-right"></i> ข้อมูลการเงิน </button></h5>
          <h5><button class="w3-button w3-block  w3-left-align"><i
                      class="fa fa-archive fa-fw w3-margin-right"></i> คลังสินค้า </button></h5>
          <h5><button class="w3-button w3-block  w3-left-align"><i
                      class="fa fa-book fa-fw w3-margin-right"></i> ประวัติการทำรายการ </button></h5>
          <hr><br>
      </div>
  </div><br><br><br><br><br><br><br>
  <div class="w3-card w3-round w3-white ">
      <div class="w3-container"><br>
          <h4 class="w3-center w3-button w3-block  w3-left-align"><i
              class="glyphicon glyphicon-tasks fa-fw w3-margin-right"></i> การตั้งค่าโรงแรม </h4><br>
      </div>
  </div>



</div>


<div style="margin-left:13%">

  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
          </ul>
      </div>
  </nav>

  <div class="pricing content">
      <form action=" ">

                 <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
            
                    <div class="w3-col m3">
                      <div class="w3-card w3-round w3-white">
                        <div class="w3-container">
                         <h2 class="w3-center"><br> RONGRAM </h2><br>
                         <p class="w3-center"><img src="https://readthecloud.co/wp-content/uploads/2021/02/work-from-hotel-61-750x500.jpg" class="w3-circle" style="height:180px;width:180px" alt="Avatar"></p>
                         <hr>
                         <h5><i class="fa fa-map-marker fa-fw w3-margin-right w3-text-theme"></i> : Bo Yang, Mueang Songkhla </h5><hr>
                          <h5><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i> :  080-545XXXX </h5>
                        </div><br>
                      </div>
                      <br>
                       
                      <div class="w3-card w3-round">
                          <div class="w3-white">
                            <h5><button class="w3-button w3-block w3-left-align"><i class="fa fa-list fa-fw w3-margin-right"></i> ทั้งหมด </button></h5>
                            <h5><button class="w3-button w3-block w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> การเข้าพัก</button></h5>
                            <h5><button class="w3-button w3-block w3-left-align"><i class="fa fa-bed  fa-fw w3-margin-right"></i> ห้องพัก </button></h5>
                            <h5><button class="w3-button w3-block w3-left-align"><i class="fa fa-id-card fa-fw w3-margin-right"></i> พนักงาน </button></h5>                                
                            <h5><button class="w3-button w3-block w3-left-align"><i class="fa fa-archive fa-fw w3-margin-right"></i> คลังสินค้า </button></h5>
                          </div>      
                        </div>
                        <br>
                        <div class="w3-card w3-round">
                          <div class="w3-white">
                              <h5><button class="w3-button w3-block w3-left-align"><i class="fa fa-trash fa-fw w3-margin-right"></i> ข้อมูลที่ลบ </button></h5>
                          </div>      
                        </div>  
                     </div>
                     
                     
                     <!-- Middle Column -->
                     <div class="w3-col m9">
                      <div class="w3-row-padding">
                        <div class="w3-col m12">
                          <div class="w3-card w3-round w3-white">
                            <div class="w3-container w3-padding">
                              <h6 class="w3-opacity">การค้นหาประวัติรายการย้อนหลัง</h6>
                                  <input type="text" id="fname" name="firstname" placeholder="ค้นหาประวัติการทำรายการ Email / วันเวลา / เรื่อง" >
                                  <button type="button" class="w3-button  w3-round w3-blue pull-right"><i class="fa fa-search"></i> ค้นหา </button> 
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                        <img src="https://www.wrappixel.com/demos/angular-admin-templates/xtreme-angular/main/assets/images/users/8.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:45px">
                        <span class="w3-right w3-opacity">4:25pm / 01.11.2018 </span>
                        <h4>John Doe </h4>
                        <hr>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</h5><br>
                      </div>
                      
                       <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                          <img src="https://www.wrappixel.com/demos/angular-admin-templates/xtreme-angular/main/assets/images/users/8.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:45px">
                          <span class="w3-right w3-opacity">4:25pm / 01.11.2018 </span>
                          <h4>John Doe </h4>
                          <hr>
                          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</h5><br>
                        </div>
                      
                
                        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                          <img src="https://www.wrappixel.com/demos/angular-admin-templates/xtreme-angular/main/assets/images/users/8.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:45px">
                          <span class="w3-right w3-opacity">4:25pm / 01.11.2018 </span>
                          <h4>John Doe </h4>
                          <hr>
                          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</h5><br>
                        </div>
                      
                        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                          <img src="https://www.wrappixel.com/demos/angular-admin-templates/xtreme-angular/main/assets/images/users/8.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:45px">
                          <span class="w3-right w3-opacity">4:25pm / 01.11.2018 </span>
                          <h4>John Doe </h4>
                          <hr>
                          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</h5><br>
                        </div>
                      
                        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                          <img src="https://www.wrappixel.com/demos/angular-admin-templates/xtreme-angular/main/assets/images/users/8.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:45px">
                          <span class="w3-right w3-opacity">4:25pm / 01.11.2018 </span>
                          <h4>John Doe </h4>
                          <hr>
                          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</h5><br>
                        </div>
                        
                        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                          <img src="https://www.wrappixel.com/demos/angular-admin-templates/xtreme-angular/main/assets/images/users/8.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:45px">
                          <span class="w3-right w3-opacity">4:25pm / 01.11.2018 </span>
                          <h4>John Doe </h4>
                          <hr>
                          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</h5><br>
                        </div>
  
                        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                          <img src="https://www.wrappixel.com/demos/angular-admin-templates/xtreme-angular/main/assets/images/users/8.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:45px">
                          <span class="w3-right w3-opacity">4:25pm / 01.11.2018 </span>
                          <h4>John Doe </h4>
                          <hr>
                          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</h5><br>
                        </div>
  
                        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                          <img src="https://www.wrappixel.com/demos/angular-admin-templates/xtreme-angular/main/assets/images/users/8.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:45px">
                          <span class="w3-right w3-opacity">4:25pm / 01.11.2018 </span>
                          <h4>John Doe </h4>
                          <hr>
                          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</h5><br>
                        </div>

                        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                          <img src="https://www.wrappixel.com/demos/angular-admin-templates/xtreme-angular/main/assets/images/users/8.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:45px">
                          <span class="w3-right w3-opacity">4:25pm / 01.11.2018 </span>
                          <h4>John Doe </h4>
                          <hr>
                          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</h5><br>
                        </div>
  
                        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                          <img src="https://www.wrappixel.com/demos/angular-admin-templates/xtreme-angular/main/assets/images/users/8.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:45px">
                          <span class="w3-right w3-opacity">4:25pm / 01.11.2018 </span>
                          <h4>John Doe </h4>
                          <hr>
                          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</h5><br>
                        </div>
  
  
                        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                          <div class="w3-center">
                              <div class="w3-bar">
                                  <a href="#" class="w3-bar-item w3-button w3-hover-theme">«</a>
                                  <a href="#" class="w3-bar-item w3-button w3-hover-theme">1</a>
                                  <a href="#" class="w3-bar-item w3-button w3-hover-theme">2</a>
                                  <a href="#" class="w3-bar-item w3-button w3-hover-theme">3</a>
                                  <a href="#" class="w3-bar-item w3-button w3-hover-theme">4</a>
                                  <a href="#" class="w3-bar-item w3-button w3-hover-theme">5</a>
                                  <a href="#" class="w3-bar-item w3-button w3-hover-theme">»</a>
                              </div>
                          </div>
                        </div>
                    </div>
                  </div> 
      </form>
  </div>
</div>