<div class="w3-sidebar w3-light-grey w3-bar-block " style="width:13%">
    <h3 class="w3-center"> RONGRAM </h3>
    <div class="w3-card w3-round w3-white">
        <div class="w3-container"><br>
            <p class="w3-center"><img
                    src="https://www.wrappixel.com/demos/angular-admin-templates/xtreme-angular/main/assets/images/users/8.jpg"
                    class="w3-circle" style="height:80px;width:80px" alt="Avatar"></p>
            <h4 class="w3-center"> Bunyarit Thongsuk </h4>
        </div>
  
        <div class="w3-white">
            <hr>
            <h5><button href="home" class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-tachometer fa-fw w3-margin-right "></i> หน้าหลัก </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> การจัดการห้องพัก </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-bed fa-fw w3-margin-right"></i> ข้อมูลห้องพัก </button></h5>
            <h5><button class="w3-button w3-block w3-left-align"><i
                        class="fa fa-id-card fa-fw w3-margin-right"></i> การจัดการพนักงาน </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-users fa-fw w3-margin-right"></i> ข้อมูลลุกค้า </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-usd fa-fw w3-margin-right"></i> ข้อมูลการเงิน </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-archive fa-fw w3-margin-right"></i> คลังสินค้า </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-book fa-fw w3-margin-right"></i> ประวัติการทำรายการ </button></h5>
            <hr><br>
        </div>
    </div><br><br><br><br><br><br><br>
    <div class="w3-card w3-round w3-white ">
        <div class="w3-container"><br>
            <h4 class="w3-center w3-button w3-block  w3-left-align"><i
                class="glyphicon glyphicon-tasks fa-fw w3-margin-right"></i> การตั้งค่าโรงแรม </h4><br>
        </div>
    </div>
  
  </div>
  
  
  <div style="margin-left:13%">
  
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
            </ul>
        </div>
    </nav>
  
    <div class="pricing content">
        <form action=" ">
            <div class="container-fluid">
                <ul class="nav nav-tabs">
                    <li class="active "><a data-toggle="tab" href="#home2">สินค้าอุปโภค</a></li>
                    <li><a data-toggle="tab" href="#menu4">สินค้าบริโภค</a></li>
                    <li><a data-toggle="tab" href="#menu5">เพิ่มสินค้า</a></li>
    
                </ul>
                <br><br><br>
                <div class="tab-content">
                    <div id="home2" class="tab-pane fade in active">
                        <div class="w3-container">
                            <div class="w3-row-padding">
                                <div class="w3-col l3 m6 w3-margin-bottom">
                                    <div class="w3-card ">
                                        <img src="../../assets/images/สบู่.jpg" style="width:100%">
                                        <div class="w3-container">
                                            <h3>สบู่ก้อน</h3>
                                            <h5>ข้อมูลสินค้า</h5>
                                            <h5>จำนวนสินค้าทั้งหมด : 500</h5>
                                            <h5>จำนวนคงเหลือ : 500</h5>
                                            <h4><button class="w3-button w3-brown w3-block w3-round-xxlarge"> แก้ไขข้อมูล </button><br></h4>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="w3-col l3 m6 w3-margin-bottom">
                                    <div class="w3-card ">
                                        <img src="../../assets/images/ผ้า.jpg" style="width:100%">
                                        <div class="w3-container">
                                            <h3>ผ้าขนหนู</h3>
                                            <h5>ข้อมูลสินค้า</h5>
                                            <h5>จำนวนสินค้าทั้งหมด : 500</h5>
                                            <h5>จำนวนคงเหลือ : 500</h5>
                                            <h4><button class="w3-button w3-brown w3-block w3-round-xxlarge"> แก้ไขข้อมูล </button><br></h4>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="w3-col l3 m6 w3-margin-bottom">
                                    <div class="w3-card ">
                                        <img src="../../assets/images/ยาสระผม.jpg" style="width:100%">
                                        <div class="w3-container">
                                            <h3>ยาสระผม</h3>
                                            <h5>ข้อมูลสินค้า</h5>
                                            <h5>จำนวนสินค้าทั้งหมด : 500</h5>
                                            <h5>จำนวนคงเหลือ : 500</h5>
                                            <h4><button class="w3-button w3-brown w3-block w3-round-xxlarge"> แก้ไขข้อมูล </button><br></h4>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="w3-col l3 m6 w3-margin-bottom">
                                    <div class="w3-card ">
                                        <img src="../../assets/images/หวี.jpg" style="width:100%">
                                        <div class="w3-container">
                                            <h3>หวี</h3>
                                            <h5>ข้อมูลสินค้า</h5>
                                            <h5>จำนวนสินค้าทั้งหมด : 500</h5>
                                            <h5>จำนวนคงเหลือ : 500</h5>
                                            <h4><button class="w3-button w3-brown w3-block w3-round-xxlarge"> แก้ไขข้อมูล </button><br></h4>
                                        </div>
                                    </div>
                                </div>
  
                                <div class="w3-col l3 m6 w3-margin-bottom">
                                    <div class="w3-card ">
                                        <img src="../../assets/images/รองเท้า.jpg" style="width:100%">
                                        <div class="w3-container">
                                            <h3>รองเท้า</h3>
                                            <h5>ข้อมูลสินค้า</h5>
                                            <h5>จำนวนสินค้าทั้งหมด : 500</h5>
                                            <h5>จำนวนคงเหลือ : 500</h5>
                                            <h4><button class="w3-button w3-brown w3-block w3-round-xxlarge"> แก้ไขข้อมูล </button><br></h4>
                                        </div>
                                    </div>
                                </div>
  
                                <div class="w3-col l3 m6 w3-margin-bottom">
                                    <div class="w3-card ">
                                        <img src="../../assets/images/ผ้าปูที่นอน.jpg" style="width:100%">
                                        <div class="w3-container">
                                            <h3>ผ้าปูที่นอน</h3>
                                            <h5>ข้อมูลสินค้า</h5>
                                            <h5>จำนวนสินค้าทั้งหมด : 500</h5>
                                            <h5>จำนวนคงเหลือ : 500</h5>
                                            <h4><button class="w3-button w3-brown w3-block w3-round-xxlarge"> แก้ไขข้อมูล </button><br></h4>
                                        </div>
                                    </div>
                                </div>
  
                                <div class="w3-col l3 m6 w3-margin-bottom">
                                    <div class="w3-card ">
                                        <img src="../../assets/images/ได.jpg" style="width:100%">
                                        <div class="w3-container">
                                            <h3>ไดร์เป่าผม</h3>
                                            <h5>ข้อมูลสินค้า</h5>
                                            <h5>จำนวนสินค้าทั้งหมด : 500</h5>
                                            <h5>จำนวนคงเหลือ : 500</h5>
                                            <h4><button class="w3-button w3-brown w3-block w3-round-xxlarge"> แก้ไขข้อมูล </button><br></h4>
                                        </div>
                                    </div>
                                </div>
  
                                <div class="w3-col l3 m6 w3-margin-bottom">
                                    <div class="w3-card ">
                                        <img src="../../assets/images/ถุง.jpg" style="width:100%">
                                        <div class="w3-container">
                                            <h3>ถุงดำ</h3>
                                            <h5>ข้อมูลสินค้า</h5>
                                            <h5>จำนวนสินค้าทั้งหมด : 500</h5>
                                            <h5>จำนวนคงเหลือ : 500</h5>
                                            <h4><button class="w3-button w3-brown w3-block w3-round-xxlarge"> แก้ไขข้อมูล </button><br></h4>
                                        </div>
                                    </div>
                                </div>
                                
                            </div><br>
                            <div class="w3-center">
                                <div class="w3-bar">
                                    <a href="#" class="w3-bar-item w3-button w3-hover-theme">«</a>
                                    <a href="#" class="w3-bar-item w3-button w3-hover-theme">1</a>
                                    <a href="#" class="w3-bar-item w3-button w3-hover-theme">2</a>
                                    <a href="#" class="w3-bar-item w3-button w3-hover-theme">3</a>
                                    <a href="#" class="w3-bar-item w3-button w3-hover-theme">4</a>
                                    <a href="#" class="w3-bar-item w3-button w3-hover-theme">5</a>
                                    <a href="#" class="w3-bar-item w3-button w3-hover-theme">»</a>
                                </div>
                            </div>
                        </div>
                    </div>
    
    
    
                    <div id="menu4" class="tab-pane fade">
                        <div class="w3-container">
                            <div class="w3-row-padding">
                                <div class="w3-col l3 m6 w3-margin-bottom">
                                    <div class="w3-card">
                                        <img src="../../assets/images/coke.jpg" style="width:100%">
                                        <div class="w3-container">
                                            <h3>สบู่ก้อน</h3>
                                            <p class="w3-opacity">CEO & Founder</p>
                                            <h5>จำนวนสินค้าทั้งหมด : 500</h5>
                                            <h5>จำนวนคงเหลือ : 500</h5>
                                            <h4><button class="w3-button w3-brown w3-block w3-round-xxlarge"> แก้ไขข้อมูล </button><br></h4>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="w3-col l3 m6 w3-margin-bottom">
                                    <div class="w3-card">
                                        <img src="../../assets/images/coke.jpg" style="width:100%">
                                        <div class="w3-container">
                                            <h3>สบู่ก้อน</h3>
                                            <p class="w3-opacity">CEO & Founder</p>
                                            <h5>จำนวนสินค้าทั้งหมด : 500</h5>
                                            <h5>จำนวนคงเหลือ : 500</h5>
                                            <h4><button class="w3-button w3-brown w3-block w3-round-xxlarge"> แก้ไขข้อมูล </button><br></h4>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="w3-col l3 m6 w3-margin-bottom">
                                    <div class="w3-card">
                                        <img src="../../assets/images/coke.jpg" style="width:100%">
                                        <div class="w3-container">
                                            <h3>สบู่ก้อน</h3>
                                            <p class="w3-opacity">CEO & Founder</p>
                                            <h5>จำนวนสินค้าทั้งหมด : 500</h5>
                                            <h5>จำนวนคงเหลือ : 500</h5>
                                            <h4><button class="w3-button w3-brown w3-block w3-round-xxlarge"> แก้ไขข้อมูล </button><br></h4>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="w3-col l3 m6 w3-margin-bottom">
                                    <div class="w3-card">
                                        <img src="../../assets/images/coke.jpg" style="width:100%">
                                        <div class="w3-container">
                                            <h3>สบู่ก้อน</h3>
                                            <p class="w3-opacity">CEO & Founder</p>
                                            <h5>จำนวนสินค้าทั้งหมด : 500</h5>
                                            <h5>จำนวนคงเหลือ : 500</h5>
                                            <h4><button class="w3-button w3-brown w3-block w3-round-xxlarge"> แก้ไขข้อมูล </button><br></h4>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="w3-col l3 m6 w3-margin-bottom">
                                    <div class="w3-card">
                                        <img src="../../assets/images/coke.jpg" style="width:100%">
                                        <div class="w3-container">
                                            <h3>สบู่ก้อน</h3>
                                            <p class="w3-opacity">CEO & Founder</p>
                                            <h5>จำนวนสินค้าทั้งหมด : 500</h5>
                                            <h5>จำนวนคงเหลือ : 500</h5>
                                            <h4><button class="w3-button w3-brown w3-block w3-round-xxlarge"> แก้ไขข้อมูล </button><br></h4>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="w3-col l3 m6 w3-margin-bottom">
                                    <div class="w3-card">
                                        <img src="../../assets/images/coke.jpg" style="width:100%">
                                        <div class="w3-container">
                                            <h3>สบู่ก้อน</h3>
                                            <p class="w3-opacity">CEO & Founder</p>
                                            <h5>จำนวนสินค้าทั้งหมด : 500</h5>
                                            <h5>จำนวนคงเหลือ : 500</h5>
                                            <h4><button class="w3-button w3-brown w3-block w3-round-xxlarge"> แก้ไขข้อมูล </button><br></h4>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="w3-col l3 m6 w3-margin-bottom">
                                    <div class="w3-card">
                                        <img src="../../assets/images/coke.jpg" style="width:100%">
                                        <div class="w3-container">
                                            <h3>สบู่ก้อน</h3>
                                            <p class="w3-opacity">CEO & Founder</p>
                                            <h5>จำนวนสินค้าทั้งหมด : 500</h5>
                                            <h5>จำนวนคงเหลือ : 500</h5>
                                            <h4><button class="w3-button w3-brown w3-block w3-round-xxlarge"> แก้ไขข้อมูล </button><br></h4>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="w3-col l3 m6 w3-margin-bottom">
                                    <div class="w3-card">
                                        <img src="../../assets/images/coke.jpg" style="width:100%">
                                        <div class="w3-container">
                                            <h3>สบู่ก้อน</h3>
                                            <p class="w3-opacity">CEO & Founder</p>
                                            <h5>จำนวนสินค้าทั้งหมด : 500</h5>
                                            <h5>จำนวนคงเหลือ : 500</h5>
                                            <h4><button class="w3-button w3-brown w3-block w3-round-xxlarge"> แก้ไขข้อมูล </button><br></h4>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="w3-center">
                                <div class="w3-bar">
                                    <a href="#" class="w3-bar-item w3-button w3-hover-theme">«</a>
                                    <a href="#" class="w3-bar-item w3-button w3-hover-theme">1</a>
                                    <a href="#" class="w3-bar-item w3-button w3-hover-theme">2</a>
                                    <a href="#" class="w3-bar-item w3-button w3-hover-theme">3</a>
                                    <a href="#" class="w3-bar-item w3-button w3-hover-theme">4</a>
                                    <a href="#" class="w3-bar-item w3-button w3-hover-theme">5</a>
                                    <a href="#" class="w3-bar-item w3-button w3-hover-theme">»</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="menu5" class="tab-pane fade">
                        <div class="w3-content">
                            <div class="w3-row w3-padding-30" id="menu">
                                <div class="w3-col l6 w3-padding-large"><br>
                                    <div>
                                        <h1>RONGRAM</h1>
                                        <hr>
                                        <h4>การเพิ่มสินค้าเข้าสู่ระบบ</h4>
                                        <h6 class="w3-text-grey">การจัดการคลังสินค้าและการเพิ่มสินค้าเข้าสู่ระบบ</h6><br>
                
                                        <div class="w3-row-padding" style="margin:0 -16px;">
                                            <div class="w3-half">
                                                <input type="text" class="w3-input w3-padding-16 w3-border" placeholder="Product name" aria-label="Product name">
                                            </div>
                                            <div class="w3-half">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>ประเภทสินค้า</option>
                                                    <option value="1">สินค้าอุปโภค</option>
                                                    <option value="2">สินค้าบริโภค</option>
                                                </select>
                                            </div>
                                        </div><br>
                                        <div class="w3-row-padding" style="margin:0 -16px;">
                                            <div class="w3-half">
                                                <input type="text" class="w3-input w3-padding-16 w3-border" placeholder="ราคาซื้อ">
                                            </div>
                                            <div class="w3-half">
                                                <input type="text" class="w3-input w3-padding-16 w3-border" placeholder="ราคาขาย">
                                            </div>
                                        </div><br>
                                        <div class="w3-row-padding" style="margin:0 -16px;">
                                            <div class="w3-half">
                                                <input type="text" class="w3-input w3-padding-16 w3-border" placeholder="ผู้จำหน่าย">
                                            </div>
                                            <div class="w3-half">
                                                <input type="text" class="w3-input w3-padding-16 w3-border" placeholder="เบอร์ติดต่อ">
                                            </div>
                                        </div><br>
                                        <div class="w3-row-padding" style="margin:0 -16px;">
                                            <div class="w3-half">
                                                <input type="text" class="w3-input w3-padding-16 w3-border" placeholder="หมายเหตุ">
                                            </div>
                                        </div>
                                        <hr><br>
                                    </div>
                                    <div>
                                        <button class="w3-btn w3-round w3-large w3-green pull-right" data-toggle="tab" href="">&nbsp; เพิ่มสินค้า &nbsp;</button>
                                    </div>
                                </div>
                                <div class="w3-col l6 w3-padding-large "><br><br>
                                    <h3>
                                        <small> รูปภาพสินค้า </small>
                                    </h3>
                                    <div class=" avatar-upload1 ">
                                        <div class="avatar-edit1 ">
                                            <input type='file' id="imageUpload " accept=".png, .jpg, .jpeg " />
                                            <label for="imageUpload "></label>
                                        </div>
                                        <div class="avatar-preview1 ">
                                            <div id="imagePreview " style="background-image: url(https://i.pinimg.com/564x/34/de/7d/34de7da2ae4eb3bd1fc02083cd912e23.jpg); ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><br><br>
                        </div>
                    </div>
                </div>
            </div>
            
        </form>
    </div>    
  </div>