<div class="w3-sidebar w3-light-grey w3-bar-block " style="width:13%">
    <h3 class="w3-center"> RONGRAM </h3>
    <div class="w3-card w3-round w3-white">
        <div class="w3-container"><br>
            <p class="w3-center"><img
                    src="https://www.wrappixel.com/demos/angular-admin-templates/xtreme-angular/main/assets/images/users/8.jpg"
                    class="w3-circle" style="height:80px;width:80px" alt="Avatar"></p>
            <h4 class="w3-center"> Bunyarit Thongsuk </h4>
        </div>

        <div class="w3-white">
            <hr>
            <h5><button href="home" class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-tachometer fa-fw w3-margin-right "></i> หน้าหลัก </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> การจัดการห้องพัก </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-bed fa-fw w3-margin-right"></i> ข้อมูลห้องพัก </button></h5>
            <h5><button class="w3-button w3-block w3-left-align"><i
                        class="fa fa-id-card fa-fw w3-margin-right"></i> การจัดการพนักงาน </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-users fa-fw w3-margin-right"></i> ข้อมูลลุกค้า </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-usd fa-fw w3-margin-right"></i> ข้อมูลการเงิน </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-archive fa-fw w3-margin-right"></i> คลังสินค้า </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-book fa-fw w3-margin-right"></i> ประวัติการทำรายการ </button></h5>
            <hr><br>
        </div>
    </div><br><br><br><br><br><br><br>
    <div class="w3-card w3-round w3-white ">
        <div class="w3-container"><br>
            <h4 class="w3-center w3-button w3-block  w3-left-align"><i
                    class="glyphicon glyphicon-tasks fa-fw w3-margin-right"></i> การตั้งค่าโรงแรม </h4><br>
        </div>
    </div>


</div>


<div style="margin-left:13%">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
            </ul>
        </div>
    </nav>

    <div id="hero" class="d-flex align-items-center">
        <div class="row icon-boxes">
            <div class="w3-row-padding w3-margin-bottom">
                <div class="w3-quarter">
                    <div class="w3-container icon-box w3-padding-16">
                        <div class="icon"><i class="glyphicon glyphicon-signal"></i></div>
                        <div class="w3-right">
                            <div class="icon"><span data-toggle="counter-up ">63</span></div>
                        </div>
                        <div class="w3-clear"></div>
                        <h4>จำนวนพนักงงาน</h4>
                    </div>
                </div>
                <div class="w3-quarter">
                    <div class="w3-container icon-box w3-padding-16">
                        <div class="icon"><i class="glyphicon glyphicon-calendar"></i></div>
                        <div class="w3-right">
                            <div class="icon"><span data-toggle="counter-up ">16</span></div>
                        </div>
                        <div class="w3-clear"></div>
                        <h4>ยอดการจองวันนี้</h4>
                    </div>
                </div>
                <div class="w3-quarter">
                    <div class="w3-container icon-box w3-padding-16">
                        <div class="icon"><i class="glyphicon glyphicon-bed"></i></div>
                        <div class="w3-right">
                            <div class="icon"><span data-toggle="counter-up ">23</span></div>
                        </div>
                        <div class="w3-clear"></div>
                        <h4>ห้องว่างที่เหลือ</h4>
                    </div>
                </div>
                <div class="w3-quarter">
                    <div class="w3-container icon-box w3-padding-16">
                        <div class="icon"><i class="glyphicon glyphicon-user"></i></div>
                        <div class="w3-right">
                            <div class="icon"><span data-toggle="counter-up ">68</span></div>
                        </div>
                        <div class="w3-clear"></div>
                        <h4>จำนวนลูกค้า</h4>
                    </div>
                </div>
            </div>

            <div class="w3-panel">
                <div class="w3-row-padding" style="margin:0 -16px">
                    <div class="col-lg-4 mt-5 mt-lg-4 "><br><br><br>
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form w-100"
                            data-aos="fade-up">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3958.37878520611!2d100.5928463776466!3d7.197550581657491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304d333c906bbf29%3A0xd6d338453d775d8f!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4LmA4LiX4LiE4LmC4LiZ4LmC4Lil4Lii4Li14Lij4Liy4LiK4Lih4LiH4LiE4Lil4Lio4Lij4Li14Lin4Li04LiK4Lix4Lii!5e0!3m2!1sth!2sth!4v1628256689801!5m2!1sth!2sth"
                                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                        </form>
                    </div>


                    <div class="w3-twothird">
                        <h2> สถานะห้องพัก </h2>
                        <hr>
                        <table class="w3-table w3-striped w3-white">
                            <tr>
                                <td>
                                    <img src="https://i.pinimg.com/564x/10/4c/d1/104cd1255a27a421155460daed86a99e.jpg"
                                        class="w3-left w3-circle w3-margin-right" width="38" height="38">
                                </td>
                                <td>
                                    <h4> 001 </h4>
                                </td>
                                <td>
                                    <h4> ประเภทห้อง Superior</h4>
                                </td>
                                <td>
                                    <h4 class="w3-tag w3-small w3-theme-l1"> รอการอนุมัติ </h4>
                                </td>
                                <td class="w3-center ">
                                    <button type="button" class="btn btn-success"> &nbsp; &nbsp; อนุมัติ &nbsp; &nbsp;
                                    </button> &nbsp;
                                </td>
                        </table>
                        <hr>
                        <table class="w3-table w3-striped w3-white">
                            <tr>
                                <td>
                                    <img src="https://i.pinimg.com/564x/10/4c/d1/104cd1255a27a421155460daed86a99e.jpg"
                                        class="w3-left w3-circle w3-margin-right" width="38" height="38">
                                </td>
                                <td>
                                    <h4> 001 </h4>
                                </td>
                                <td>
                                    <h4> ประเภทห้อง Superior</h4>
                                </td>
                                <td>
                                    <h4 class="w3-tag w3-small w3-theme-l1"> รอการอนุมัติ </h4>
                                </td>
                                <td class="w3-center ">
                                    <button type="button" class="btn btn-success"> &nbsp; &nbsp; อนุมัติ &nbsp; &nbsp;
                                    </button> &nbsp;
                                </td>
                        </table>
                        <hr>
                        <table class="w3-table w3-striped w3-white">
                            <tr>
                                <td>
                                    <img src="https://i.pinimg.com/564x/a1/83/36/a18336f512838854f0ef3981093c1bdf.jpg"
                                        class="w3-left w3-circle w3-margin-right" width="38" height="38">
                                </td>
                                <td>
                                    <h4> 001 </h4>
                                </td>
                                <td>
                                    <h4> ประเภทห้อง Standard</h4>
                                </td>
                                <td>
                                    <h4 class="w3-tag w3-small w3-theme-l1"> จัดเก็บห้องพัก </h4>
                                </td>
                                <td class="w3-center ">
                                    <button type="button" class="btn btn-success"> &nbsp; &nbsp; อนุมัติ &nbsp; &nbsp;
                                    </button> &nbsp;
                                </td>
                        </table>
                        <hr>
                        <table class="w3-table w3-striped w3-white">
                            <tr>
                                <td>
                                    <img src="https://i.pinimg.com/564x/a1/83/36/a18336f512838854f0ef3981093c1bdf.jpg"
                                        class="w3-left w3-circle w3-margin-right" width="38" height="38">
                                </td>
                                <td>
                                    <h4> 001 </h4>
                                </td>
                                <td>
                                    <h4> ประเภทห้อง Standard</h4>
                                </td>
                                <td>
                                    <h4 class="w3-tag w3-small w3-theme-l1"> กำลังซ่อมแซม </h4>
                                </td>
                                <td class="w3-center ">
                                    <button type="button" class="btn btn-success"> &nbsp; &nbsp; อนุมัติ &nbsp; &nbsp;
                                    </button> &nbsp;
                                </td>
                        </table>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>