<div class="w3-sidebar w3-light-grey w3-bar-block " style="width:13%">
    <h3 class="w3-center"> RONGRAM </h3>
    <div class="w3-card w3-round w3-white">
        <div class="w3-container"><br>
            <p class="w3-center"><img
                    src="https://www.wrappixel.com/demos/angular-admin-templates/xtreme-angular/main/assets/images/users/8.jpg"
                    class="w3-circle" style="height:80px;width:80px" alt="Avatar"></p>
            <h4 class="w3-center"> Bunyarit Thongsuk </h4>
        </div>

        <div class="w3-white">
            <hr>
            <h5><button href="home" class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-tachometer fa-fw w3-margin-right "></i> หน้าหลัก </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> การจัดการห้องพัก </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-bed fa-fw w3-margin-right"></i> ข้อมูลห้องพัก </button></h5>
            <h5><button class="w3-button w3-block w3-left-align"><i
                        class="fa fa-id-card fa-fw w3-margin-right"></i> การจัดการพนักงาน </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-users fa-fw w3-margin-right"></i> ข้อมูลลุกค้า </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-usd fa-fw w3-margin-right"></i> ข้อมูลการเงิน </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-archive fa-fw w3-margin-right"></i> คลังสินค้า </button></h5>
            <h5><button class="w3-button w3-block  w3-left-align"><i
                        class="fa fa-book fa-fw w3-margin-right"></i> ประวัติการทำรายการ </button></h5>
            <hr><br>
        </div>
    </div><br><br><br><br><br><br><br>
    <div class="w3-card w3-round w3-white ">
        <div class="w3-container"><br>
            <h4 class="w3-center w3-button w3-block  w3-left-align"><i
                    class="glyphicon glyphicon-tasks fa-fw w3-margin-right"></i> การตั้งค่าโรงแรม </h4><br>
        </div>
    </div>

</div>


<div style="margin-left:13%">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
            </ul>
        </div>
    </nav>

    <div class="pricing content">
        <form action=" ">
            <div class="w3-container">
                <ul class="w3-ul w3-card-4 w3-white">
                    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                        <thead>
                            <br>
                            <tr >
                                <th> รหัสลูกค้า </th>
                                <th> ชื่อ-สกุล </th>
                                <th> เบอร์ติดต่อ </th>
                                <th> ประเภทห้องพัก </th>
                                <th> สถานะ </th>
                                <th class="w3-center"> ตัวเลือก </th>
                            </tr>
                        </thead>
    
                        <tr>
                            <td>
                                <img src="https://i.pinimg.com/originals/48/0b/27/480b274f9145a23e3da4f3568c051d0c.jpg" class="w3-left w3-circle w3-margin-right" width="35" height="35">
                                <h4> B0001 </h4>
                            </td>
                            <td>
                                <h4> Kim Tae Hyung </h4>
                            </td>
                            <td>
                                <h4> 089-5050XXX </h4>
                            </td>
                            <td>
                                <h4> ประเภทที่ 1 </h4>
                            </td>
                            <td>
                                <h4> กำลังเข้าพัก </h4>
                            </td>
                            <td class="w3-center ">
                                <button type="button" class="btn btn-primary"> &nbsp; Edit &nbsp; </button> &nbsp;
                                <button type="button" class="btn btn-success"> Profire </button>  &nbsp;
                                <button type="button" class="btn btn-danger">  Delete </button>
                            </td>
                        </tr>
    
                        <tr>
                            <td>
                                <img src="https://i.pinimg.com/originals/48/0b/27/480b274f9145a23e3da4f3568c051d0c.jpg" class="w3-left w3-circle w3-margin-right" width="35" height="35">
                                <h4> B0001 </h4>
                            </td>
                            <td>
                                <h4> Kim Tae Hyung </h4>
                            </td>
                            <td>
                                <h4> 089-5050XXX </h4>
                            </td>
                            <td>
                                <h4> ประเภทที่ 1 </h4>
                            </td>
                            <td>
                                <h4> กำลังเข้าพัก </h4>
                            </td>
                            <td class="w3-center ">
                                <button type="button" class="btn btn-primary"> &nbsp; Edit &nbsp; </button> &nbsp;
                                <button type="button" class="btn btn-success"> Profire </button>  &nbsp;
                                <button type="button" class="btn btn-danger">  Delete </button>
                            </td>
                        </tr>

                                               <tr>
                            <td>
                                <img src="https://i.pinimg.com/originals/48/0b/27/480b274f9145a23e3da4f3568c051d0c.jpg" class="w3-left w3-circle w3-margin-right" width="35" height="35">
                                <h4> B0001 </h4>
                            </td>
                            <td>
                                <h4> Kim Tae Hyung </h4>
                            </td>
                            <td>
                                <h4> 089-5050XXX </h4>
                            </td>
                            <td>
                                <h4> ประเภทที่ 1 </h4>
                            </td>
                            <td>
                                <h4> กำลังเข้าพัก </h4>
                            </td>
                            <td class="w3-center ">
                                <button type="button" class="btn btn-primary"> &nbsp; Edit &nbsp; </button> &nbsp;
                                <button type="button" class="btn btn-success"> Profire </button>  &nbsp;
                                <button type="button" class="btn btn-danger">  Delete </button>
                            </td>
                        </tr>
    
                        <tr>
                            <td>
                                <img src="https://i.pinimg.com/originals/48/0b/27/480b274f9145a23e3da4f3568c051d0c.jpg" class="w3-left w3-circle w3-margin-right" width="35" height="35">
                                <h4> B0001 </h4>
                            </td>
                            <td>
                                <h4> Kim Tae Hyung </h4>
                            </td>
                            <td>
                                <h4> 089-5050XXX </h4>
                            </td>
                            <td>
                                <h4> ประเภทที่ 1 </h4>
                            </td>
                            <td>
                                <h4> กำลังเข้าพัก </h4>
                            </td>
                            <td class="w3-center ">
                                <button type="button" class="btn btn-primary"> &nbsp; Edit &nbsp; </button> &nbsp;
                                <button type="button" class="btn btn-success"> Profire </button>  &nbsp;
                                <button type="button" class="btn btn-danger">  Delete </button>
                            </td>
                        </tr>

                                                <tr>
                            <td>
                                <img src="https://i.pinimg.com/originals/48/0b/27/480b274f9145a23e3da4f3568c051d0c.jpg" class="w3-left w3-circle w3-margin-right" width="35" height="35">
                                <h4> B0001 </h4>
                            </td>
                            <td>
                                <h4> Kim Tae Hyung </h4>
                            </td>
                            <td>
                                <h4> 089-5050XXX </h4>
                            </td>
                            <td>
                                <h4> ประเภทที่ 1 </h4>
                            </td>
                            <td>
                                <h4> กำลังเข้าพัก </h4>
                            </td>
                            <td class="w3-center ">
                                <button type="button" class="btn btn-primary"> &nbsp; Edit &nbsp; </button> &nbsp;
                                <button type="button" class="btn btn-success"> Profire </button>  &nbsp;
                                <button type="button" class="btn btn-danger">  Delete </button>
                            </td>
                        </tr>
    
                        <tr>
                            <td>
                                <img src="https://i.pinimg.com/originals/48/0b/27/480b274f9145a23e3da4f3568c051d0c.jpg" class="w3-left w3-circle w3-margin-right" width="35" height="35">
                                <h4> B0001 </h4>
                            </td>
                            <td>
                                <h4> Kim Tae Hyung </h4>
                            </td>
                            <td>
                                <h4> 089-5050XXX </h4>
                            </td>
                            <td>
                                <h4> ประเภทที่ 1 </h4>
                            </td>
                            <td>
                                <h4> กำลังเข้าพัก </h4>
                            </td>
                            <td class="w3-center ">
                                <button type="button" class="btn btn-primary"> &nbsp; Edit &nbsp; </button> &nbsp;
                                <button type="button" class="btn btn-success"> Profire </button>  &nbsp;
                                <button type="button" class="btn btn-danger">  Delete </button>
                            </td>
                        </tr>
    
                        <tr>
                            <td>
                                <img src="https://i.pinimg.com/originals/48/0b/27/480b274f9145a23e3da4f3568c051d0c.jpg" class="w3-left w3-circle w3-margin-right" width="35" height="35">
                                <h4> B0001 </h4>
                            </td>
                            <td>
                                <h4> Kim Tae Hyung </h4>
                            </td>
                            <td>
                                <h4> 089-5050XXX </h4>
                            </td>
                            <td>
                                <h4> ประภทที่ 1 </h4>
                            </td>
                            <td>
                                <h4> กำลังเข้าพัก </h4>
                            </td>
                            <td class="w3-center ">
                                <button type="button" class="btn btn-primary"> &nbsp; Edit &nbsp; </button> &nbsp;
                                <button type="button" class="btn btn-success"> Profire </button>  &nbsp;
                                <button type="button" class="btn btn-danger">  Delete </button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <img src="https://i.pinimg.com/originals/48/0b/27/480b274f9145a23e3da4f3568c051d0c.jpg" class="w3-left w3-circle w3-margin-right" width="35" height="35">
                                <h4> B0001 </h4>
                            </td>
                            <td>
                                <h4> Kim Tae Hyung </h4>
                            </td>
                            <td>
                                <h4> 089-5050XXX </h4>
                            </td>
                            <td>
                                <h4> ประเภทที่ 1 </h4>
                            </td>
                            <td>
                                <h4> กำลังเข้าพัก </h4>
                            </td>
                            <td class="w3-center ">
                                <button type="button" class="btn btn-primary"> &nbsp; Edit &nbsp; </button> &nbsp;
                                <button type="button" class="btn btn-success"> Profire </button>  &nbsp;
                                <button type="button" class="btn btn-danger">  Delete </button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <img src="https://i.pinimg.com/originals/48/0b/27/480b274f9145a23e3da4f3568c051d0c.jpg" class="w3-left w3-circle w3-margin-right" width="35" height="35">
                                <h4> B0001 </h4>
                            </td>
                            <td>
                                <h4> Kim Tae Hyung </h4>
                            </td>
                            <td>
                                <h4> 089-5050XXX </h4>
                            </td>
                            <td>
                                <h4> ประเภทที่ 1 </h4>
                            </td>
                            <td>
                                <h4> กำลังเข้าพัก </h4>
                            </td>
                            <td class="w3-center ">
                                <button type="button" class="btn btn-primary"> &nbsp; Edit &nbsp; </button> &nbsp;
                                <button type="button" class="btn btn-success"> Profire </button>  &nbsp;
                                <button type="button" class="btn btn-danger">  Delete </button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <img src="https://i.pinimg.com/originals/48/0b/27/480b274f9145a23e3da4f3568c051d0c.jpg" class="w3-left w3-circle w3-margin-right" width="35" height="35">
                                <h4> B0001 </h4>
                            </td>
                            <td>
                                <h4> Kim Tae Hyung </h4>
                            </td>
                            <td>
                                <h4> 089-5050XXX </h4>
                            </td>
                            <td>
                                <h4> ประเภทที่ 1 </h4>
                            </td>
                            <td>
                                <h4> กำลังเข้าพัก </h4>
                            </td>
                            <td class="w3-center ">
                                <button type="button" class="btn btn-primary"> &nbsp; Edit &nbsp; </button> &nbsp;
                                <button type="button" class="btn btn-success"> Profire </button>  &nbsp;
                                <button type="button" class="btn btn-danger">  Delete </button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <img src="https://i.pinimg.com/originals/48/0b/27/480b274f9145a23e3da4f3568c051d0c.jpg" class="w3-left w3-circle w3-margin-right" width="35" height="35">
                                <h4> B0001 </h4>
                            </td>
                            <td>
                                <h4> Kim Tae Hyung </h4>
                            </td>
                            <td>
                                <h4> 089-5050XXX </h4>
                            </td>
                            <td>
                                <h4> ประเภทที่ 1 </h4>
                            </td>
                            <td>
                                <h4> กำลังเข้าพัก </h4>
                            </td>
                            <td class="w3-center ">
                                <button type="button" class="btn btn-primary"> &nbsp; Edit &nbsp; </button> &nbsp;
                                <button type="button" class="btn btn-success"> Profire </button>  &nbsp;
                                <button type="button" class="btn btn-danger">  Delete </button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <img src="https://i.pinimg.com/originals/48/0b/27/480b274f9145a23e3da4f3568c051d0c.jpg" class="w3-left w3-circle w3-margin-right" width="35" height="35">
                                <h4> B0001 </h4>
                            </td>
                            <td>
                                <h4> Kim Tae Hyung </h4>
                            </td>
                            <td>
                                <h4> 089-5050XXX </h4>
                            </td>
                            <td>
                                <h4> ประเภทที่ 1 </h4>
                            </td>
                            <td>
                                <h4> กำลังเข้าพัก </h4>
                            </td>
                            <td class="w3-center ">
                                <button type="button" class="btn btn-primary"> &nbsp; Edit &nbsp; </button> &nbsp;
                                <button type="button" class="btn btn-success"> Profire </button>  &nbsp;
                                <button type="button" class="btn btn-danger">  Delete </button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <img src="https://i.pinimg.com/originals/48/0b/27/480b274f9145a23e3da4f3568c051d0c.jpg" class="w3-left w3-circle w3-margin-right" width="35" height="35">
                                <h4> B0001 </h4>
                            </td>
                            <td>
                                <h4> Kim Tae Hyung </h4>
                            </td>
                            <td>
                                <h4> 089-5050XXX </h4>
                            </td>
                            <td>
                                <h4> ประเภทที่ 1 </h4>
                            </td>
                            <td>
                                <h4> กำลังเข้าพัก </h4>
                            </td>
                            <td class="w3-center ">
                                <button type="button" class="btn btn-primary"> &nbsp; Edit &nbsp; </button> &nbsp;
                                <button type="button" class="btn btn-success"> Profire </button>  &nbsp;
                                <button type="button" class="btn btn-danger">  Delete </button>
                            </td>
                        </tr>

                        
                    </table>
                    <div class="w3-center w3-padding-33 w3-border">
                        <div class="w3-bar">
                            <a href="#" class="w3-bar-item w3-button w3-hover-theme">«</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-theme">1</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-theme">2</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-theme">3</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-theme">4</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-theme">5</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-theme">»</a>
                        </div>
                    </div>
                </ul>
            </div>
        </form>
    </div>
</div>